<ng-container>
  <td colspan="4">
    <table id="commentsTabel">
      <tr  *ngFor="let comment of comments; let i = index">
        <td>
          {{ comment.type }}
        </td>
        <td>{{ comment.comment }}</td>

        <td colspan="3">
          {{ comment.author }}
          <span style="color: gray">{{
            comment.date | date: " d, MMM,y, h:mm a"
          }}</span>
        </td>
        <td>
          <i  class="material-icons" style="margin-right: 8px;" (click)="deleteComment(comment)"> delete</i>
          <i  class="material-icons" style="margin-right: 8px;" (click)="onClickEdit(comment)"> edit</i>
        </td>
      </tr>
      <tr  app-add-comment (onupdateCommentEvent)="updateComment($event)" [isUpdate]="isUpdate" [commentToUpdate]="commentToUpdate"></tr>
    </table>
  </td>
</ng-container>
