
<td colspan="5" >
  <form [formGroup]="commentForm" (ngSubmit)="onSubmit()" novalidate>
    <table>
      <tr>
        <td><select style="width: 200px;" (change)="clickOption($event.target)" formControlName="requestType">
          <option *ngFor="let type of types" [value]="type" [selected]="type == selectedType "
            >{{type}}</option
          >
        </select></td>
        <td colspan="2"><input formControlName="text" style="width: 700px;"/></td>
        <td> <button type="submit" [disabled]="commentForm.pristine">Add</button>
        </td>
      </tr>
    </table>
  </form>
</td>



