
  <ng-container style="float: left;" >
    <label for="Currency">Currency:</label>

    <select (change)="clickOption($event.target)" *ngIf="exchangeCurrency" >
      <option  *ngFor="let i of exchangeRates.paymentCurrencies" [value]="i.toCurrency" [selected]="exchangeCurrency.currency == i.toCurrency"  >{{i.toCurrency}}</option>
    </select>
  </ng-container>
  <label style="float: right;"  for="Rate ">1 USD = {{(exchangeCurrency.exchangeRate/baseCurrency.exchangeRate).toFixed(4)}}</label>

