<div style="margin-top: 100px"  *ngIf="exchangeRates.paymentCurrencies">
<div class="costLabel">Costs</div>
<app-currencies [exchangeCurrency]="exchangeCurrency" [exchangeRates]="exchangeRates"  [baseCurrency]="baseCurrency" (onCurrencyChangeEvent)="clickOption($event)"></app-currencies>
</div>
<div style="margin-top: 40px" *ngFor="let cost of costList?.costs">
  <table>
    <tr>
      <th>{{ cost.name }}</th>
      <th>Quoted</th>
      <th>Screened</th>
      <th></th>
    </tr>
    <ng-container *ngFor="let item of cost.costItems">
      <tr>
        <td>{{ item.name }}</td>
        <td *ngIf="exchangeCurrency && baseCurrency ">

          {{getAmoutWithExchangeRate("Quoted", item.costs) }}
           <br /> <span class="smallText">
            {{
              getAmoutWitBaseCurrencyRate("Quoted", item.costs)
            }}
           </span>

        </td>
        <td   *ngIf="exchangeCurrency && baseCurrency ">
          {{getAmoutWithExchangeRate("Screened", item.costs) }}
          <br /> <span class="smallText">
            {{
              getAmoutWitBaseCurrencyRate("Screened", item.costs)
            }}
          </span>

        </td>
        <td  (click)="showCommentList(item.id)">
          <i *ngIf="item.comments" class="far fa-comment-alt" style="font-size: 15px">
            ({{ item.comments.length }})
          </i>
          <i *ngIf="!item.comments"class="far fa-comment-alt" style="font-size: 15px" (click)="showCommentList(item.id)"> ({{ 0 }})</i>

          <span style="margin-right: 10px;"></span>
          <i *ngIf="!item.isCommentOpens" class="fas fa-chevron-circle-down" style="font-size: 15px"></i>
          <i *ngIf="item.isCommentOpens" class="fas fa-chevron-circle-up	" style="font-size: 15px"></i>

        </td>


      </tr>
      <!-- <ng-container *ngIf="item.isCommentOpens"> -->
        <!-- TODO  check  why this commponant design not working fine-->

          <tr  *ngIf="item.isCommentOpens" app-comments [comments]="item.comments" class="commentStyle"></tr>
      <!-- </ng-container> -->


    </ng-container>
    <tr >
      <td>Total</td>

      <td>  {{getTotalWithExchangeRate("Quoted", cost.costItems) }}
        <br/><span class="smallText">
          {{
            getTotalWithBaseCurrencyRate("Quoted", cost.costItems)
         }}
        </span></td>
       <td>  {{getTotalWithExchangeRate("Screened", cost.costItems) }}
        <br/><span class="smallText">{{
          getTotalWithBaseCurrencyRate("Screened", cost.costItems)
       }}</span></td>
      <td>
      </td>
    </tr>
  </table>
</div>
