table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
app-comments{
  display: table-row;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th{
  background-color: #2980B9;
  color:#fff;
  font-size: medium;
  font-weight: bold;
}

.costLabel {
  color:#2980B9;
  font-size: large;
  font-weight: bold;
  float: left; margin-right: 84%;
}
.smallText{
  color: gray;
  font-size:small
}
.commentStyle{
   background-color: #9ac8e2;
}

#commentsTabel, #commentsTabel  td {
  border: none;
  border-collapse: collapse;
}


